<a href="https://colab.research.google.com/github/Harini0324/Sentiment-Analysis/blob/main/Sentiment_analysis_twitter_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (4.65.0)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

file_path = "dataCp.csv"
encoding = "latin-1"  # Replace with "latin-1" or other appropriate encoding

data = pd.read_csv(file_path, encoding=encoding)

In [ ]:
df=data.iloc[0:81131,:]

In [ ]:
df

,id,date,user,content
0,1.467811e+09,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,1.467811e+09,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,1.467811e+09,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,1.467811e+09,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,1.467811e+09,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...
81126,1.752604e+09,Sat May 09 22:24:01 PDT 2009,FrumiousMe,@Sezz239 me too hope it's a good day for you
81127,1.752604e+09,Sat May 09 22:24:02 PDT 2009,siumuimui,having a NONG JIA LE lunch. Many flies sharing...
81128,1.752605e+09,Sat May 09 22:24:03 PDT 2009,clearparodies,Still needs to get away. What's going on my de...
81129,1.752605e+09,Sat May 09 22:24:05 PDT 2009,AdamChristou,@StephenHahn ALL OVER THAT. Missed her at the...
81130,1.752606e+09,Sat May 09 22:24:14 PDT 2009,DanMVRP,i have so much more faith in the scene than wh...

In [ ]:
df.isnull().sum()

id         50098
date       50098
user       50098
content    50098
dtype: int64

In [ ]:
df.dropna()
df = df.dropna(subset=['date'])
df=df.reset_index(drop=True)
df

,id,date,user,content
0,1.467811e+09,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,1.467811e+09,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,1.467811e+09,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,1.467811e+09,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,1.467811e+09,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...
31028,1.752604e+09,Sat May 09 22:24:01 PDT 2009,FrumiousMe,@Sezz239 me too hope it's a good day for you
31029,1.752604e+09,Sat May 09 22:24:02 PDT 2009,siumuimui,having a NONG JIA LE lunch. Many flies sharing...
31030,1.752605e+09,Sat May 09 22:24:03 PDT 2009,clearparodies,Still needs to get away. What's going on my de...
31031,1.752605e+09,Sat May 09 22:24:05 PDT 2009,AdamChristou,@StephenHahn ALL OVER THAT. Missed her at the...
31032,1.752606e+09,Sat May 09 22:24:14 PDT 2009,DanMVRP,i have so much more faith in the scene than wh...

In [ ]:
df.to_csv("new_dataCp",index=False)

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (4.65.0)

In [ ]:
import pandas as pd
import re
from dateutil import parser
from datetime import datetime

def extract_components(date_string):
    pattern = r'(\w{3} \w{3} \d{2}) (\d{2}:\d{2}:\d{2}) (\w{3} \d{4})'
    match = re.match(pattern, date_string)
    if match:
        date_part = match.group(1)
        time_part = match.group(2)
        time_zone_part = match.group(3)
        return date_part, time_part, time_zone_part
    else:
        return None, None, None

# Apply the function to the 'date' column to extract components
components = df['date'].apply(extract_components)
df[['date', 'time', 'time_zone']] = pd.DataFrame(components.tolist(), index=df.index)


# Reorder the columns
df = df[['id', 'date', 'time', 'time_zone', 'user', 'content']]

In [ ]:
df.head()

,id,date,time,time_zone,user,content
0,1.467811e+09,Mon Apr 06,22:19:49,PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,1.467811e+09,Mon Apr 06,22:19:53,PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,1.467811e+09,Mon Apr 06,22:19:57,PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,1.467811e+09,Mon Apr 06,22:19:57,PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,1.467811e+09,Mon Apr 06,22:20:00,PDT 2009,joy_wolf,@Kwesidei not the whole crew

In [ ]:
import pandas as pd
from textblob import TextBlob

def perform_sentiment_analysis(dataset_file):
    # Load the dataset
    dataset = dataset_file

    # Perform sentiment analysis
    analyzed_dataset = []
    for index, row in dataset.iterrows():
        text = row['content']
        blob = TextBlob(text)
        polarity = blob.sentiment.polarity
        sentiment_label = 'positive' if polarity > 0 else 'negative' if polarity < 0 else 'neutral'
        analyzed_entry = row.tolist() + [polarity, sentiment_label]
        analyzed_dataset.append(analyzed_entry)

    # Create a new DataFrame for the analyzed dataset
    columns = dataset.columns.tolist() + ['SentimentPolarity', 'SentimentLabel']
    analyzed_dataset = pd.DataFrame(analyzed_dataset, columns=columns)

    # Save the analyzed dataset to a new CSV file
    analyzed_dataset_file = 'analyzed_datacp.csv'
    analyzed_dataset.to_csv(analyzed_dataset_file, index=False)

    print(f'Sentiment analysis completed. Analyzed dataset saved to {analyzed_dataset_file}.')


# Specify the dataset file path
dataset_file = df

# Perform sentiment analysis on the dataset
perform_sentiment_analysis(dataset_file)

Sentiment analysis completed. Analyzed dataset saved to analyzed_datacp.csv.